asgiref==3.4.0
beautifulsoup4==4.10.0
certifi==2021.5.30
cloudinary==1.26.0
decouple==0.0.7
dj-database-url==0.5.0
Django==3.2.4
django-bootstrap3==15.0.0
django-bootstrap4==21.1
django-heroku==0.3.1
gunicorn==20.1.0
Pillow==8.2.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
python-decouple==3.5
pytz==2021.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.1
urllib3==1.26.6
whitenoise==5.2.0
